cffi==1.17.1
charset-normalizer==3.3.2
cryptography==43.0.1
lxml==5.3.0
pdfminer.six==20231228
pdfplumber==0.11.4
pillow==10.4.0
pycparser==2.22
pypdfium2==4.30.0
python-dotenv==1.0.1
python-pptx==1.0.2
setuptools==75.1.0
typing_extensions==4.12.2
wheel==0.44.0
XlsxWriter==3.2.0
